<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>🎈Find your Base:)-Join!</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

  <!--ajax cdn-->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
  <!--  폰트-->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Jua&family=Nanum+Gothic&family=Noto+Sans+KR&display=swap" rel="stylesheet">
  <link rel="stylesheet" th:href="@{/css/save.css}" type="text/css">
</head>
<body style="background-color: white">
<th:block th:replace="commonPages/header :: header"></th:block>

<div class="main">
  <header id="header">
    <h1 class="tit mt-5">회원가입🙇</h1>
  </header>
  <form name="join" action="/member/signup" method="post">
    <fieldset>
      <div class="join_form">
        <div class="id-container">
          <label for="uid">아이디</label>
          <input type="text" class="width-450 form-control" name="UserId" id="uid" placeholder="아이디를 입력해주세요">
          <input type="button" class="btn btn-success" name="checkId" onclick="check_id()" value="아이디 중복확인">
          <span id="idError"></span>
        </div>
        <div class="password-container">
          <label for="pwd">비밀번호</label>
          <input type="password" class="width-450 form-control" name="memberPassword" id="pwd" placeholder="비밀번호 입력 (문자, 숫자 포함 8~12자)">
          <span id="pwdError"></span>
        </div>
          <div>
            <label for="rePwd" >비밀번호 확인</label>
            <input type="password" class="width-450 form-control" name="memberPassword2" id="rePwd" onblur="check_pwd()" placeholder="비밀번호 재입력">
            <span id="rePwdError"></span>
          </div>
        <div class="name-container">
          <label for="uname" >이름</label>
          <input type="text" class="width-450 form-control" name="memberName" id="uname" placeholder="이름을 입력해주세요">
          <span id="nameError"></span>
        </div>
        <div class="mobile-container">
          <label for="memberMobile" >전화번호</label>
          <input type="text" class="width-450 form-control" name="memberMobile" id="memberMobile" onblur="check_mobile()" placeholder="휴대폰 번호 입력 ('-' 포함 13자리 입력)">
          <span id="mobileError"></span>
        </div>
        <div class="email-container">
          <label for="memberEmail" >이메일</label>
          <input type="text" class="width-450 form-control" name="memberEmail" id="memberEmail" onblur="check_email()" placeholder="이메일 주소 입력 (___@___ 형식으로 입력)">
          <input type="button" id="checkEmail" class="btn btn-outline-secondary" value="인증번호 전송" onclick="sendEmail()">
          <span id="emailError"></span>
        </div>
        <div class="mailconfirm-container">
          <label for="mailconfirm" >인증번호</label>
          <input type="text" class="width-450 form-control" name="mailconfirm" id="mailconfirm" placeholder="인증번호를 입력해주세요">
          <input type="button" id="mailconfirm2" class="btn btn-outline-secondary" value="인증번호 확인" onclick="mailConfirm()">
        </div>
      </div>
      <div class="exform_txt"><label>표시는 필수적으로 입력해주셔야 가입이 가능합니다.</label></div>

      <div class="btn-container">
        <input onclick="joinUs()" type="button" id="joinBtn" class="width-half height-30 form-control form-group group btn-group btn btn-success mt-4" name="join" value="회원가입">
      </div>
    </fieldset>
  </form>
</div>
<input type="hidden" value="" id="mailconfirmCheck">

</body>


<script th:inline="javascript">

  const joinUs = () => {
    const uid = document.getElementById('uid').value;
    const pwd = document.getElementById('pwd').value;
    const rePwd = document.getElementById('rePwd').value;
    const uname = document.getElementById('uname').value;
    const memberMobile = document.getElementById('memberMobile').value;
    const memberEmail = document.getElementById('memberEmail').value;
    const mailconfirm = document.getElementById('mailconfirm').value;
    const mailconfirmCheck = document.getElementById('mailconfirmCheck').value;
    const exp = /^(?=.*[a-z])(?=.*\d)[A-Za-z\d]{8,12}$/;

    if (uid === '') {
      alert('아이디를 입력해주세요');
      return false;
    }
    if (pwd === '') {
      alert('비밀번호를 입력해주세요');
      return false;
    }
    if (rePwd === '') {
      alert('비밀번호를 확인해주세요');
      return false;
    }
    if (rePwd !== pwd) {
      alert('비밀번호가 일치하지 않습니다.');
      return false;
    }
    if(!document.join.memberPassword.value.match(exp)) {
      const passwordCheck = document.getElementById("pwdError");
      passwordCheck.innerHTML = "영문 소문자와 숫자를 이용하여 8~12자 이내로 입력하세요";
      passwordCheck.style.color = "red";
      return false;
    }
    if (uname === '') {
      alert('이름을 입력해주세요');
      return false;
    }
    if (memberMobile === '') {
      alert('전화번호를 입력해주세요');
      return false;
    }
    if (memberMobile.length !== 13) {
      alert('전화번호를 정확히 입력해주세요');
      return false;
    }
    if (memberEmail === '') {
      alert('이메일을 입력해주세요');
      return false;
    }
    if (memberEmail.indexOf('@') === -1) {
      alert('이메일을 정확히 입력해주세요');
      return false;
    }
    if (mailconfirm === '') {
      alert('인증번호를 입력해주세요');
      return false;
    }
    if (mailconfirmCheck === '') {
      alert('인증번호를 확인해주세요');
      return false;
    }
    if (mailconfirm !== mailconfirmCheck) {
      alert('인증번호가 일치하지 않습니다.');
      return false;
    }
    document.join.submit();

  }

  //이메일 중복체크, 이메일 인증
  const sendEmail = () => {
    console.log("이메일 중복확인");
    $.ajax({
      type : "POST",
      url : "/member/mailConfirm",
      data : {
        "email" : document.getElementById("memberEmail").value
      },
      success : function(data){
        if (data == "fail"){
          alert("이미 가입된 이메일입니다. 확인해주세요");
        }else {
          alert("해당 이메일로 인증번호 발송이 완료되었습니다💌 \n 확인부탁드립니다.")
          document.getElementById("mailconfirmCheck").value = data;
          console.log("data : "+data);
        }

      }
    })
  }


  // 이메일 인증번호 체크 함수
  const mailConfirm = () => {
    const mailconfirmCheck = document.getElementById("mailconfirmCheck").value;
    const mailconfirm = document.getElementById("mailconfirm").value;
    if (mailconfirmCheck == mailconfirm) {
      alert("인증번호가 일치합니다.");
      $("#joinBtn").removeAttr("disabled");
    } else {
      alert("인증번호가 일치하지 않습니다.");
      $("#joinBtn").attr("disabled", "disabled");
    }

  }



  //아이디 중복확인
  const check_id = () => {
    console.log("호출")
    const id = document.getElementById("uid").value;
    if (id == "") {
      alert("아이디를 입력해주세요.");
    } else {
      $.ajax({
        type: "post",
        url: "/member/checkUserId",
        data: {
          userId: id
        },
        dataType: "text",
        success: function (loginResult) {
          console.log("성공");
          console.log(loginResult);
          if (loginResult == "success") {
            $("#joinBtn").removeAttr("disabled");
            alert("사용할 수 있는 아이디입니다.")

          } else {
            $("#joinBtn").attr("disabled", "disabled");
            alert("이미 존재하는 아이디입니다.")
          }
        },
        error: function () {
          console.log("실패")
        }
      })
    }
  }

  //정규식 체크
  const check_pwd = () => {
    const pwd = document.getElementById('pwd').value;
    const rePwd = document.getElementById('rePwd').value;
    const exp = /^(?=.*[a-z])(?=.*\d)[A-Za-z\d]{8,12}$/;

    if(!document.join.memberPassword.value.match(exp)){
      $("#joinBtn").attr("disabled", "disabled");
      const passwordCheck =document.getElementById("pwdError");
      passwordCheck.innerHTML="영문 소문자와 숫자를 이용하여 8~12자 이내로 입력하세요";
      passwordCheck.style.color="red";
    } else if(pwd === rePwd){
      $("#joinBtn").removeAttr("disabled");
      document.getElementById("pwdError").innerHTML = "비밀번호가 일치합니다.";
      document.getElementById("pwdError").style.color = "blue";
    }
  }

  const check_mobile = () => {
    const mobile = document.getElementById("memberMobile").value;
    const mobileCheck = document.getElementById("mobileError");
    const regExp = /^\d{3}-\d{3,4}-\d{4}$/;
    if (!regExp.test(mobile)) {
      $("#joinBtn").attr("disabled", "disabled");
      document.getElementById("memberMobile").value = "";
      mobileCheck.innerHTML = "전화번호는 000-0000-0000 형식으로 입력해주세요."
      mobileCheck.style.color = "red"
    } else {
      $("#joinBtn").removeAttr("disabled");
      mobileCheck.innerHTML = ""
    }
  }

  const check_email = () => {
    const email = document.getElementById("memberEmail").value;
    const emailCheck = document.getElementById("emailError");
    const regExp = /\w+([-+.]\w+)*@\w+([-.]\w+)*\.[a-zA-Z]{2,4}$/;
    if (!regExp.test(email)) {
      $("#joinBtn").attr("disabled", "disabled");
      document.getElementById("memberEmail").value = "";
      emailCheck.innerHTML = "이메일은 ____@____ 형식으로 입력해주세요.";
      emailCheck.style.color = "red";
    } else {
      $("#joinBtn").removeAttr("disabled");
      emailCheck.innerHTML = ""
    }
  }
  // const check_name = () => {
  //   console.log("check_name 함수호출");
  //   if(document.join.memberName.value === ""){
  //     $("#joinBtn").attr("disabled", "disabled");
  //     const nameCheck = document.getElementById("nameError");
  //     nameCheck.innerHTML="이름을 입력해주세요";
  //     nameCheck.style.color="red";
  //     return false;
  //   } else{
  //     $("#joinBtn").removeAttr("disabled");
  //     const nameCheck = document.getElementById("nameError");
  //     nameCheck.innerHTML="";
  //   }
  // }
</script>
</html>