<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>🎈Find your Base:)-비밀번호 찾기</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <!--  폰트-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jua&family=Nanum+Gothic&family=Noto+Sans+KR&display=swap" rel="stylesheet">
    <style>
        *{
            font-family: 'Jua', sans-serif;
            font-family: 'Nanum Gothic', sans-serif;
            font-family: 'Noto Sans KR', sans-serif;
        }

        .main{
            width: 400px;
            height: 409px;
            left: 411px;
            top: 85px;
            /*가운데 정렬 margin: auto*/
            margin-left: auto;
            margin-right: auto;
            margin-top: 150px;
        }
    </style>
</head>
<body style="background-color: white">
<th:block th:replace="commonPages/header :: header"></th:block>
<div class="main">
    <div class="email-container">
        <form action="/member/searchPassword" method="post">
            <label>이메일</label>
            <input type="text" class="width-450 form-control" name="memberEmail" id="memberEmail" onblur="check_emailPassword()" placeholder="가입시 사용한 이메일을 입력하세요">
            <span id="emailError"></span>
            <input type="button" id="checkEmail" class="btn btn-outline-secondary" value="임시 비밀번호 전송" onclick="sendPassword()">
            <input type="hidden" value="" id="searchPasswordCheck">
        </form>
    </div>
</div>




<script th:inline="javascript">
    // 임시 비밀번호 전송
    const sendPassword = () => {
        console.log("임시 비밀번호 전송");

        $.ajax({
            type : "post",
            url : "/member/searchPassword",
            data : {
                "email" : document.getElementById("memberEmail").value
            },
            dataType:"text",
            success : function(data){
                if (data === "fail"){
                    alert("입력된 정보가 없습니다.");
                }else{
                    console.log(data);
                    alert("해당 이메일로 임시비밀번호를 전송하였습니다.")
                    document.getElementById("searchPasswordCheck").value = data;
                    console.log("data : "+data);
                    $.ajax({
                        type: "post",
                        url: "/member/searchPasswordUpdate",
                        data:{
                            "email" : document.getElementById("memberEmail").value
                        }
                    });
                    location.href="/member/login";
                }
            }
        })
    }


</script>
</body>
</html>